<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="icon" type="image/gif" href="/static/img/favicon.ico">
		<title>个人中心</title>
		<script src="/static/js/jquery-2.1.3.min.js"></script>
		<script src="/static/js/common.js"></script>
		<link href="/static/css/regiest.css" rel="stylesheet" />
	</head>

	<body>
		<div class="header">
			<div class="wrapper">
				<div class="topbar">
					<a class="logo" href="###"></a>
					<div class="login_status"><a class="p_center" href="###">个人中心</a> <a href="###">登陆</a> <a href="###">注册</a></div>
				</div>
				<div class="nav">
					<ul>
						<li class="cur" tag="0"><a href="index.html">首 页<br><span>HOME</span></a></li>
						<li tag="140"><a href="index.html">新闻公告<br><span>NEWS</span></a></li>
						<li tag="280"><a href="index.html">数据中心<br><span>DATA</span></a></li>
						<li tag="420"><a href="index.html">视频图集<br><span>VIDEO</span></a></li>
						<li tag="560"><a href="index.html">参赛球队<br><span>TEAM</span></a></li>
						<li tag="700"><a href="index.html">商务合作<br><span>COOPERATION</span></a></li>
					</ul>
					<div class="mark"></div>
					</li>
				</div>

			</div>
		</div>

		<div class="wrapper">
			<div class="aside">
				<div class="avator">
					<img class="uimg" src="/static/img/title-ico.png" />
					<span class="uname">
						jackery
					</span>
				</div>
				<div class="per-nav">
					<ul>
						<li class="item person"><a href="person.html">个人信息</a></li>
						<li class="item safe cur"><a href="safe.html">账号安全</a></li>
						<li class="item enroll">我的报名</li>
						<li class="item team">我的球队</li>
					</ul>
				</div>
			</div>
			<div class="welcom">
				欢迎来到用户中心！
				<label>注册时间：</label><span>2015-10-10</span>
				<label>上次登录时间：</label><span>2015-10-10   15:41:32</span>
			</div>
			<div class="safeD">
				<div class="uhd">
					<h1 class="basichd">账号安全</h1>
				</div>
				<div class="usafe">
					<ul class="usafe-form">
						<li class="bod">
							<h2 class="usafehd">修改密码</h2>
							<label class="usafecen" for="">已设置安全密码</label>
							<span class="usafert" id="change_pwd_span">设置</span>
							<div class="usafetip hide">
								<form action="" id="change_pwd_form">
									<ul class="usafe-credential">
										<li>
											<label for="">原密码</label>
											<input type="password" name="oldPwd" id="oldPwd" value="" placeholder="请填写原密码" />
										</li>
										<li>
											<label for="">新密码</label>
											<input type="password" name="newPwd" id="newPwd" value="" placeholder="请填写新密码" />
										</li>
										<li>
											<label for="">确认新密码</label>
											<input type="password" name="newPwd2" id="newPwd2" value="" placeholder="请确认新密码" />
										</li>
									</ul>
									<a class="savebt" id="change_pwd_btn" href="###">保存</a>
								</form>
							</div>
						</li>
						<li class="bod">
							<h2 class="usafehd">安全提醒</h2>
							<label id="change_reminding_label" class="usafecen <#if reminding == 0>safe-not</#if>" for=""><#if reminding == 0>未<#else>已</#if>设置安全提醒</label>
							<span class="usafert" id="change_reminding_span" data-show="fase">设置</span>
							<div class="usafetip hide">
								<form action="" id="change_reminding_form">
									<input type="hidden" name="id" value="${(noti.id)!}"/>
									<h3 class="usafetipa">当账号进行安全相关的操作时，会接受提醒消息，实时掌握账号安全动态。</h3>
									<h4 class="usafetipb">修改密码</h4>
									<div class="usafetipc">
										<label class="mobile1 <#if ((noti.upPasswordStat)!3) == 1>cur</#if>" for="mobile1">手机提醒</label>
										<input class="hide" type="radio" name="upPasswordStat" id="mobile1" value="1" <#if ((noti.upPasswordStat)!3) == 1>checked="checked"</#if> />
										<label class="email1 <#if ((noti.upPasswordStat)!3) == 2>cur</#if>" for="email1">邮件提醒</label>
										<input class="hide" type="radio" name="upPasswordStat" id="email1" value="2" <#if ((noti.upPasswordStat)!3) == 2>checked="checked"</#if>/>
										<label class="no1 <#if ((noti.upPasswordStat)!3) == 3>cur</#if>" for="no1">不提醒</label>
										<input class="hide" type="radio" name="upPasswordStat" id="no1" value="3" <#if ((noti.upPasswordStat)!3) == 3>checked="checked"</#if>/>
									</div>
									<h4 class="usafetipb">设置登录保护</h4>
									<div class="usafetipc">
										<label class="mobile1 <#if ((noti.loginStat)!3) == 1>cur</#if>" for="mobile2">手机提醒</label>
										<input class="hide" type="radio" name="loginStat" id="mobile2" value="1" <#if ((noti.loginStat)!3) == 1>checked="checked"</#if>/>
										<label class="email2 <#if ((noti.loginStat)!3) == 2>cur</#if>" for="email2">邮件提醒</label>
										<input class="hide" type="radio" name="loginStat" id="email2" value="2" <#if ((noti.loginStat)!3) == 2>checked="checked"</#if>/>
										<label class="no2 <#if ((noti.loginStat)!3) == 3>cur</#if>" for="no2">不提醒</label>
										<input class="hide" type="radio" name="loginStat" id="no2" value="3" <#if ((noti.loginStat)!3) == 3>checked="checked"</#if> />
									</div>
									<h4 class="usafetipb">异地登录</h4>
									<div class="usafetipc">
										<label class="mobile1 <#if ((noti.nonlocalLoginStat)!3) == 1>cur</#if>" for="mobile3">手机提醒</label>
										<input class="hide" type="radio" name="nonlocalLoginStat" id="mobile3" value="1" <#if ((noti.nonlocalLoginStat)!3) == 1>checked="checked"</#if>/>
										<label class="email3 <#if ((noti.nonlocalLoginStat)!3) == 2>cur</#if>" for="email3">邮件提醒</label>
										<input class="hide" type="radio" name="nonlocalLoginStat" id="email3" value="2" <#if ((noti.nonlocalLoginStat)!3) == 2>checked="checked"</#if>/>
										<label class="no3 <#if ((noti.nonlocalLoginStat)!3) == 3>cur</#if>" for="no3">不提醒</label>
										<input class="hide" type="radio" name="nonlocalLoginStat" id="no3" value="3" <#if ((noti.nonlocalLoginStat)!3) == 3>checked="checked"</#if> />
									</div>
									<a class="savebt" id="change_reminding_btn" href="###">保存</a>
								</form>
							</div>
						</li>
						<li class="bod">
							<h2 class="usafehd">安全邮箱</h2>
							<label class="usafecen <#if settingEmail == 0>safe-not</#if>" id="change_email_label"  for=""><#if settingEmail == 0>未<#else>已</#if>设置安全邮箱</label>
							<span class="usafert" id="change_email_span" data-fill="<#if settingEmail == 0>false<#else>true</#if>"><#if settingEmail == 0>设置<#else>更换安全邮箱</#if></span>
							<div class="usafetip hide">
								<form action="" id="change_email_form">
								<input type="hidden" name="id" value="${(noti.id)!}"/>
									<ul class="usafe-credential">
										<li>
											<label for="email">安全邮箱</label>
											<input type="text" name="email" id="email" value="${(noti.email)!}" placeholder="请填写安全邮箱" />
										</li>
									</ul>
									<a class="savebt" id="change_email_btn" href="###">保存</a>
								</form>
							</div>
						</li>
						<li class="bod">
							<h2 class="usafehd">证件信息</h2>
							<label id="change_paper_label" class="usafecen <#if paper == 0>safe-not</#if>" for=""><#if paper == 0>未<#else>已</#if>填写证件信息</label>
							<span class="usafert" id="change_paper_span">设置</span>
							<div class="usafetip hide">
								<form action="" id="change_paper_form">
									<ul class="usafe-credential">
										<li>
											<label for="">真实姓名</label>
											<input type="text" name="cname" id="cname" value="${(user.cname)!}" placeholder="请填写真实的名字" />
										</li>
										<li>
											<label for="">所在地区</label>
											<select class="pro" name="">
												<option value="">上海</option>
												<option value="">北京</option>
											</select>
											<select class="city" name="">
												<option value="">上海</option>
												<option value="">北京</option>
											</select>
										</li>
										<li>
											<label for="">详细地址</label>
											<input type="text" name="detailedAddress" id="detailedAddress" value="${(user.detailedAddress)!}" placeholder="请填写地址信息" />
										</li>
										<li>
											<label for="">邮政编码</label>
											<input type="text" name="postcode" id="postcode" value="${(user.postcode)!}" placeholder="请填写邮编信息" />
										</li>
										<li>
											<label for="">手机号码</label>
											<input type="text" readonly="readonly" value="${(user.mobile)!}" placeholder="请填写手机号码" />
										</li>
										<li>
											<label for="">座机号码</label>
											<input type="text" name="telephone" id="telephone" value="${(user.telephone)!}" placeholder="座机号码" />
										</li>
									</ul>
									<a class="savebt" id="change_paper_btn" href="###">保存</a>
								</form>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<script src="/static/js/footer.js"></script>
		<script src="/static/js/regiest.js"></script>
		<script src="/static/js/safe.js"></script>
	</body>

</html>