<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianfang.user.mapper.UserApplyTeamExMapper" >
  <resultMap id="BaseResultMap" type="com.tianfang.user.dto.UserApplyTeamDto" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="team_id" property="teamId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="stat" property="stat" jdbcType="INTEGER" />
    <!-- 联表查询字段 -->
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
	<result column="gender" property="gender" jdbcType="INTEGER" />
	<result column="province" property="province" jdbcType="VARCHAR" />
	<result column="location" property="location" jdbcType="VARCHAR" />
	<result column="detailed_address" property="detailedAddress" jdbcType="VARCHAR" />
	<result column="birthday" property="birthday" jdbcType="VARCHAR" />
	<result column="mobile" property="mobile" jdbcType="VARCHAR" />
	<result column="utype" property="utype" jdbcType="INTEGER" />
	<result column="trainer_level" property="trainerLevel" jdbcType="INTEGER" />
  </resultMap>

	<!--联表查询字段-->
	<resultMap id="UserInfoMap" type="com.tianfang.user.app.AppUserInfo" >
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="team_id" property="teamId" jdbcType="VARCHAR" />
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="reason" property="reason" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<!-- 联表查询字段 -->
		<result column="nick_name" property="nickName" jdbcType="VARCHAR" />
		<result column="pic" property="pic" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="utype" property="utype" jdbcType="INTEGER" />
		<result column="age" property="age" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="card_no" property="cardNo" jdbcType="VARCHAR" />
		<result column="student_no" property="studentNo" jdbcType="VARCHAR" />
		<result column="school" property="school" jdbcType="VARCHAR" />
		<result column="team_name" property="teamName" jdbcType="VARCHAR" />
		<result column="photo" property="photo" jdbcType="VARCHAR" />
		<result column="gender" property="gender" jdbcType="INTEGER" />
	</resultMap>
  <sql id="Base_Column_List" >
    a.id, a.team_id, a.user_id, a.status, a.reason, a.create_time, a.last_update_time, a.stat,b.nick_name,b.pic,b.gender,b.province,b.location,b.detailed_address,b.birthday,b.mobile,b.utype,b.trainer_level
  </sql>

	<sql id="User_Info_List">
		a.id, a.team_id, a.user_id, a.status, a.reason,a.create_time, u.nick_name, u.utype, u.pic, team.name AS team_name, info.name, info.age, info.card_no, info.mobile, info.school, info.student_no, info.photo, info.gender
	</sql>
  
  <sql id="Example_Where_Clause" >
	  <where >
	 	a.stat = 1 and b.stat = 1
   		<if test="example.id != null">
   		and a.id = #{example.id,jdbcType=VARCHAR}
   		</if>
   		<if test="example.teamId != null">
   		and a.team_id = #{example.teamId,jdbcType=VARCHAR}
   		</if>
   		<if test="example.userId != null">
   		and a.user_id = #{example.userId,jdbcType=VARCHAR}
   		</if>
   		<if test="example.status != null">
   		and a.status = #{example.status,jdbcType=INTEGER}
   		</if>
   		<if test="example.nickName != null">
   		and b.nick_name = #{example.nickName,jdbcType=VARCHAR}
   		</if>
   		<if test="example.gender != null">
   		and b.gender = #{example.gender,jdbcType=INTEGER}
   		</if>
   		<if test="example.mobile != null">
   		and b.mobile = #{example.mobile,jdbcType=VARCHAR}
   		</if>
   		<if test="example.utype != null">
   		and b.utype = #{example.utype,jdbcType=INTEGER}
   		</if>
   		<if test="example.trainerLevel != null">
   		and b.trainer_level = #{example.trainerLevel,jdbcType=INTEGER}
   		</if>
    </where>
  </sql>
  
	<sql id="Example_User_Where_Clause" >
		  <where >
		 	a.stat = 1 AND u.stat = 1 AND team.stat = 1 AND info.stat = 1
	   		<if test="example.id != null">
	   		and a.id = #{example.id,jdbcType=VARCHAR}
	   		</if>
	   		<if test="example.teamId != null">
	   		and a.team_id = #{example.teamId,jdbcType=VARCHAR}
	   		</if>
	   		<if test="example.userId != null">
	   		and a.user_id = #{example.userId,jdbcType=VARCHAR}
	   		</if>
	   		<if test="example.status != null">
	   		and a.status = #{example.status,jdbcType=INTEGER}
	   		</if>
	   		<if test="example.nickName != null">
	   		and b.nick_name = #{example.nickName,jdbcType=VARCHAR}
	   		</if>
	   		<if test="example.gender != null">
	   		and b.gender = #{example.gender,jdbcType=INTEGER}
	   		</if>
	   		<if test="example.mobile != null">
	   		and b.mobile = #{example.mobile,jdbcType=VARCHAR}
	   		</if>
	   		<if test="example.utype != null">
	   		and b.utype = #{example.utype,jdbcType=INTEGER}
	   		</if>
	   		<if test="example.trainerLevel != null">
	   		and b.trainer_level = #{example.trainerLevel,jdbcType=INTEGER}
	   		</if>
	    </where>
	  </sql>
	  
	<sql id="User_Info_Where_Clause" >
		<where >
			a.stat = 1 AND u.stat = 1 AND team.stat = 1 AND info.stat = 1
			<if test="example.id != null">
				and a.id = #{example.id,jdbcType=VARCHAR}
			</if>
			<if test="example.teamId != null">
				and a.team_id = #{example.teamId,jdbcType=VARCHAR}
			</if>
			<if test="example.userId != null">
				and a.user_id = #{example.userId,jdbcType=VARCHAR}
			</if>
			<if test="example.status != null">
				and a.status = #{example.status,jdbcType=INTEGER}
			</if>
			<if test="example.mobile != null">
				and info.mobile = #{example.mobile,jdbcType=VARCHAR}
			</if>
			<if test="example.utype != null">
				and u.utype = #{example.utype,jdbcType=INTEGER}
			</if>
			<if test="example.gender != null">
				and info.gender = #{example.gender,jdbcType=INTEGER}
			</if>
		</where>
	</sql>
  
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tianfang.user.dto.UserApplyTeamDto" >
    select
    <include refid="Base_Column_List" />
   	from sst_user_apply_team as a left join sport_user as b on a.user_id = b.id
   	<include refid="Example_Where_Clause" />
   	order by a.create_time desc
   	<if test="page != null and page.startNum != null and page.pageSize > page.startNum">
   	limit ${page.startNum}, ${page.pageSize}
   	</if>
  </select>
  
   <select id="countByExample" parameterType="com.tianfang.user.dto.UserApplyTeamDto" resultType="java.lang.Integer" >
    select count(*) from sst_user_apply_team as a left join sport_user as b on a.user_id = b.id
    <include refid="Example_Where_Clause" />
   </select>

   <select id="queryUserTeamApplyInfoByParam" resultMap="UserInfoMap" parameterType="com.tianfang.user.dto.UserApplyTeamDto" >
   		SELECT
		<include refid="User_Info_List"/>
		FROM sst_user_apply_team AS a
		LEFT JOIN sport_user AS u ON a.user_id = u.id
		LEFT JOIN sst_team AS team ON a.team_id = team.id
		LEFT JOIN sst_user_info AS info ON a.user_id = info.user_id
		<include refid="Example_User_Where_Clause" />
		ORDER BY a.create_time DESC		
		<if test="page != null and page.startNum != null and page.pageSize > page.startNum">
			limit ${page.startNum}, ${page.pageSize}
		</if>
   </select>
   	
   <select id="countUserTeamApplyInfoByParam" resultType="java.lang.Integer" parameterType="com.tianfang.user.dto.UserApplyTeamDto" >
   		select count(*)
		FROM sst_user_apply_team AS a
		LEFT JOIN sport_user AS u ON a.user_id = u.id
		LEFT JOIN sst_team AS team ON a.team_id = team.id
		LEFT JOIN sst_user_info AS info ON a.user_id = info.user_id		
		<include refid="Example_User_Where_Clause" />
   </select>	
   	
	<select id="queryUserApplyInfoByParam" resultMap="UserInfoMap" parameterType="com.tianfang.user.app.AppUserInfo" >
		SELECT
		<include refid="User_Info_List"/>
		FROM sst_user_apply_team AS a
		LEFT JOIN sport_user AS u ON a.user_id = u.id
		LEFT JOIN sst_team AS team ON a.team_id = team.id
		LEFT JOIN sst_user_info AS info ON a.user_id = info.user_id
		<include refid="User_Info_Where_Clause" />
		ORDER BY a.create_time DESC
		<if test="page != null and page.startNum != null and page.pageSize > page.startNum">
			limit ${page.startNum}, ${page.pageSize}
		</if>
	</select>

	<select id="countUserApplyInfoByParam" parameterType="com.tianfang.user.app.AppUserInfo" resultType="java.lang.Integer" >
		select count(*)
		FROM sst_user_apply_team AS a
		LEFT JOIN sport_user AS u ON a.user_id = u.id
		LEFT JOIN sst_team AS team ON a.team_id = team.id
		LEFT JOIN sst_user_info AS info ON a.user_id = info.user_id
		<include refid="User_Info_Where_Clause" />
	</select>
</mapper>