<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianfang.train.mapper.CompetitionNoticeExMapper">
	
	<select id="selectByExample" resultType="com.tianfang.train.dto.CompetitionNoticeDto">
	   SELECT a.id, a.comp_id as compId, a.title, a.content, a.create_admin_id as createAdminId,a.create_admin_name as createAdminName, a.update_admin_id as updateAdminId,a.update_admin_name as updateAdminName, a.create_time as  createTime ,a.last_update_time as lastUpdateTime ,a.stat,b.title as compName FROM sst_competition_notice a 
	   LEFT JOIN sst_competition b
	   ON a.comp_id = b.id  
	   WHERE a.stat =1 
	   <include refid="where_assistant_bypage" />
	   ORDER BY a.create_time desc
       limit  #{page.startNum}, #{page.pageSize}
	</select>
	
	<select id="countByExample" resultType="java.lang.Integer" parameterType="com.tianfang.train.dto.CompetitionNoticeDto">
	   SELECT count(*) 
	   FROM sst_competition_notice a 
	   LEFT JOIN sst_competition b
	   ON a.comp_id = b.id  
	   WHERE a.stat =1 
	   <include refid="where_assistant_bypage" />
	</select>
	
	<sql id="where_assistant_bypage">
		<if test="competitionNoticeDto.title != null and competitionNoticeDto.title != ''">
			and a.title like "%"#{competitionNoticeDto.title}"%"
	   </if>
	   <if test="competitionNoticeDto.compId != null and competitionNoticeDto.compId != ''">
			and b.id = #{competitionNoticeDto.compId}
	   </if>
	   and a.stat = 1
<!-- 	   <if test="sportAlbum.createTime != null">
			and a.name like "%"#{sportAlbum.createTime}"%"
	   </if>
	   <if test="sportAlbum.lastUpdateTime != null">
			and a.name like "%"#{sportAlbum.lastUpdateTime}"%"
	   </if> -->
	</sql>
	
</mapper> 