<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianfang.train.mapper.CompetitionMatchExMapper" >
  <resultMap id="BaseResultMap" type="com.tianfang.train.pojo.CompetitionMatch" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="comp_id" property="compId" jdbcType="VARCHAR" />
    <result column="comp_name" property="compName" jdbcType="VARCHAR" />
    <result column="cround_id" property="croundId" jdbcType="VARCHAR" />
    <result column="cround_name" property="croundName" jdbcType="VARCHAR" />
    <result column="home_team_id" property="homeTeamId" jdbcType="VARCHAR" />
    <result column="home_team_icon" property="homeTeamIcon" jdbcType="VARCHAR" />
    <result column="home_team_name" property="homeTeamName" jdbcType="VARCHAR" />
    <result column="visiting_team_id" property="visitingTeamId" jdbcType="VARCHAR" />
    <result column="visiting_team_icon" property="visitingTeamIcon" jdbcType="VARCHAR" />
    <result column="visiting_team_name" property="visitingTeamName" jdbcType="VARCHAR" />
    <result column="match_type" property="matchType" jdbcType="INTEGER" />
    <result column="match_time" property="matchTime" jdbcType="TIMESTAMP" />
    <result column="home_score" property="homeScore" jdbcType="INTEGER" />
    <result column="visiting_score" property="visitingScore" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="create_admin_id" property="createAdminId" jdbcType="VARCHAR" />
    <result column="create_admin_name" property="createAdminName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="stat" property="stat" jdbcType="INTEGER" />
  </resultMap>
  
  
  
  <insert id="insertBatch" parameterType="java.util.List">  
     insert into sst_competition_match (id, comp_id, comp_name, 
      cround_id, cround_name, home_team_id, 
      home_team_icon, home_team_name, visiting_team_id, 
      visiting_team_icon, visiting_team_name, match_type, match_time,
      home_score, visiting_score, address, 
      create_admin_id, create_admin_name, create_time, 
      last_update_time, stat)
    values 
     <foreach collection="list" item="item" index="index" separator="," >  
        (#{item.id},#{item.compId},#{item.compName},#{item.croundId},#{item.croundName},#{item.homeTeamId},#{item.homeTeamIcon},#{item.homeTeamName},
        #{item.visitingTeamId},#{item.visitingTeamIcon},#{item.visitingTeamName},#{item.matchType},#{item.matchTime},#{item.homeScore},#{item.visitingScore},#{item.address},#{item.createAdminId}
        ,#{item.createAdminName},#{item.createTime},#{item.lastUpdateTime},#{item.stat})  
    </foreach> 
  </insert>  
  
  
  <select id="selectCompetitionMatchByTeamId" resultType="com.tianfang.train.pojo.CompetitionMatch" parameterType="java.lang.String">
  		SELECT id, comp_id as compId, comp_name as compName, cround_id as croundId, cround_name as croundName,home_team_id as homeTeamId, home_team_icon as homeTeamIcon,
  		home_team_name as homeTeamName, visiting_team_id as visitingTeamId,visiting_team_icon as visitingTeamIcon, visiting_team_name as visitingTeamName,match_type as matchType,
  		match_time as matchTime,home_score as homeScore,visiting_score as visitingScore, address, people_type as peopleType,create_admin_id as createAdminId,
  		create_admin_name as createAdminName,create_time as createTime,last_update_time as lastUpdateTime,stat
  		FROM sst_competition_match s
  		WHERE s.stat = 1
  		<if test="teamId != null and teamId != ''">
  				and s.home_team_id = #{teamId}
  				or s.visiting_team_id = #{teamId}
  		</if> 
  		ORDER BY s.create_time desc
        limit  #{page.startNum}, #{page.pageSize}
  </select>
  
  <select id="countCompetitionMatchByTeamId" resultType="java.lang.Integer" parameterType="java.lang.String">
  		SELECT count(*) 
  		FROM sst_competition_match s
  		WHERE s.stat = 1
  		<if test="teamId != null and teamId != ''">
  				and s.home_team_id = #{teamId}
  				or s.visiting_team_id = #{teamId}
  		</if> 
  </select>
  </mapper>