<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianfang.train.mapper.TeamExMapper" >
  <resultMap id="BaseResultMap" type="com.tianfang.train.pojo.Team" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="contacts" property="contacts" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
    <result column="update_user_name" property="updateUserName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="stat" property="stat" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    b.id, b.name, b.icon, b.province, b.city, b.area, b.address, b.summary, b.contacts, b.mobile, b.create_user_id, 
    b.create_user_name, b.update_user_id, b.update_user_name, b.create_time, b.last_update_time, 
    b.stat
  </sql>
  <select id="findAllByCompId" resultMap="BaseResultMap" parameterType="java.lang.String" >
  	SELECT DISTINCT <include refid="Base_Column_List" />
	FROM sst_competition_team AS a
	JOIN sst_team AS b ON a.team_id = b.id
	WHERE a.comp_id = #{compId,jdbcType=VARCHAR} ORDER BY b.create_time;
  </select>
</mapper>