<!DOCTYPE html>
<html>
<head>
	<#include "/common/head.htm"/>
</head>

<body>
	<div class="header">
		<#include "/common/header.htm"/>
	
	
	<div class="wrapper">
		<div class="enroll_title">填写报名球队信息</div>
		<div class="form_box">
			<h2>必填项目</h2>
			<ul>
				<li><label>所在区域：</label></li>
				<li><label>球队名称：</label><input type="text" placeholder="请输入球队名称"></li>
				<li><label>球队联系人：</label><input type="text" placeholder="请输入球队联系人"></li>
				<li><label>联系方式：</label><input type="text" placeholder="请输入联系方式"></li>
				<li><label>企业/俱乐部名称：</label><input type="text" placeholder="请输入企业/俱乐部名称"></li>
			</ul>
		</div>
		<div class="form_box">
			<h2>选填项目</h2>
			<ul>
				<li><label>球队主场：</label><input type="text" placeholder="请输入球队主场"></li>
				<li><label>成立时间：</label></li>
				<li><label>成员人数：</label><input type="text" placeholder="请输入成员人数"></li>
				<li><label>球队队徽：</label></li>
				<li><label>团队简介：</label></li>
			</ul>
		</div>
	</div>
	<script src="/static/js/footer.js"></script>
	<script>

	</script>
</body>
</html>