<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianfang.evaluat.mapper.EvaluatQuestionExMapper" >
	<select id="countScoreTotal" resultType="java.lang.Integer">
		select sum(sum_score) from sst_evaluat_question where eva_id = #{evaId} and stat = 1;
	</select>
</mapper>