<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianfang.evaluat.mapper.EvaluatAnswerExMapper" >
	<select id="countScoreTotal" resultType="java.lang.Integer">
		select IFNULL(SUM(ans_score),0) from sst_evaluat_answer where eva_question_id = #{evaQuestionId} and stat = 1;
	</select>
</mapper>